---
layout: page
title: Categories
---

<div class="category-list">
    {% for category in site.categories %}
    <section class="category-group">
        <h2>{{ category[0] }}</h2>
        <ul>
            {% for post in category[1] %}
            <li>
                <span class="category-post-title">
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    {% include draft-marker.html post=post %}
                </span>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</div>
